<section class="teaser">
	<a href="{{ site.url }}/work/talesmith/{{ include.teaserURL }}/">
		<div class="teaser__content">
			<div class="teaser__content__text" style="{{ include.teaserBGC }}">
					<div class="dt">
						<div class="dt-c">
							<b class="teaser__content__text--title">{{ include.teaserTitle }}</b>
							<strong class="teaser__content__text--show">{{ include.teaserIntro }}</strong>
						</div>
					</div>
			</div>
      <img class="moving" src="{{ site.url }}{{ site.images }}{{ include.teaserIMG }}" alt="">
		</div>
	</a>
</section>
