<section class="teaser" style="background-color:{{ include.teaserBGC }};">
  <a href="/work/{{ include.teaserURL | downcase | slugify }}">
    <div class="teaser__content" style="background:url('{{ include.teaserIMG }}'); background-repeat: no-repeat; background-position: 0 10%;">
      <div class="teaser__content__text" style="background-color:{{ include.teaserBGC }};">
        <div class="dt">
          <div class="dt-c">
            <b class="teaser__content__text--title">{{ include.teaserTitle | upcase }}</b>
            <strong class="teaser__content__text--show">{{ include.teaserIntro | newline_to_br }}</strong>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>
