// Teaser
//
// A majority of buttons in the site are built from the same base class.
//
// @keyframes moveteaser {
//   0% {
//     transform: scale(1) translate(0, 0) rotate(0);
//   }
//   100% {
//     transform: scale(.6) translate(-25%, -60%) rotate(-0.10turn);
//   }
// }
.teaser {
    // Default/Mobile
    clear: both;
    overflow: hidden;
    $teaser-height: 15em;
    height: $teaser-height;
    min-height: $teaser-height;
    transition: all .2s ease;
    // Small screen
    @include media(s) {
        &:hover {
            .teaser__content__text--title {
                &:after {
                    width: 8.5em;
                }
            }
        }
    }
    // Medium screen
    @include media(m) {
        background: {
            position: 40% 0;
        }
    }
    // Large screen
    @include media(l) {
        background: {
            position: 0 0;
        }
    }
    &__content {
        // Small screen
        position: relative;
        height: 100%;
        background-size: 0;
        @include media(m) {
          background-size: 50%!important;
        }
        &__text {
            height: 100%;
            color: $white;
            padding: 0 10px;
            z-index: 99;
            position: relative;
            @include column(10);
            @include push(1);
            // Small screen
            @include media(s) {
                @include column(6);
                @include push(6);
            }
            @include media(m) {
                @include column(5);
                @include push(7);
                &:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  left: -50%;
                  width: 50%;
                  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 21%, black 58%)
                }                
            }
            &--title {
                display: block;
                font: {
                    family: inherit;
                    weight: 300;
                    size: 1.3em;
                }
                text-transform: uppercase;
                letter-spacing: 0.1em;
                margin: 0 0 5px 0;
                &:after {
                    transition: all .2s ease;
                    content: '';
                    display: block;
                    margin: 0.2em auto;
                    text-align: center;
                    width: 8.5em;
                    height: 2px;
                    background-color: $talesmith-orange;
                    @include media(s) {
                        width: 4.5em;
                    }
                }
            }
            &--show {
                display: block;
                font: {
                    family: 'Libre Baskerville', serif;
                    weight: 300;
                    size: 1.5em;
                }
                text-transform: uppercase;
                letter-spacing: .05em;
                margin: 0;
                small {
                    font-family: 'Lato', sans-serif;
                    margin: .5em 0 0 0;
                    display: block;
                    font-size: 50%;
                    line-height: 1.5;
                    font-weight: 400;
                }
            }
        }
    }
}
