<style>
	/* :target {
		width: 98%;
    box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
	} */
</style>

<nav class="site-footer__secondary-nav__footer-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<meta itemprop="about" content="Footer navigation">
	{% for link in site.data.footer-navigation %}
		{% if link.title %}
			<a class="site-footer__secondary-nav__footer-nav--link" {%- if link.hash -%}href="{{ site.url }}/{{ link.href }}#{{ link.hash }}"{%- else -%}href="{{ site.url }}/{{ link.href }}/"{%- endif -%} itemprop="url">
				<meta itemprop="name" content="{{ link.title }}">
				{{ link.title }}
			</a>
		{% endif %}
	{% endfor %}
</nav>