<!doctype html>

<html class="no-js" lang="en">

  {% include /global/head.html %}

  <body class="{{ page.layout }} {% if page.class %}{{ page.class | downcase | slugify }} {% endif %} {{ page.title | downcase | slugify }}" {% if page.title == 'About' %}itemscope itemtype="https://schema.org/AboutPage"{% else %}itemscope itemtype="http://schema.org/WebPage"{% endif %}>
  <meta itemprop="specialty" content="Filmmaking">

  <div class="site-wrap">

    {% include /global/header.html %}

    <section class="site-content">
      <main class="main" role="main">
        {{ content }}
      </main>
    </section>

    {% include /global/footer.html %}

    </div>

    {% if page.class == 'homepage' %}
      <script>
        "use strict";

        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", function (user) {
            if (!user) {
              window.netlifyIdentity.on("login", function () {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    {% endif %}

  </body>

</html>
