---
layout: default
---
<section class="page">
    <div class="page-content">
        <section class="work-item">
            <!--
                Article header
            -->
            <header class="heading-group">
                <!--
                    Article name
                -->
                <h1 class="heading-group__heading">
                    <span itemprop="name">{{page.title}}</span>
                </h1>
                <!--
                    Generate a small description
                -->
                {% capture short_desc %}{{ content }}{% endcapture %}
                <meta itemprop="description" content="{{ short_desc | truncatewords: 18 | strip_html }}">
                <!--
                    Role
                -->
                <h2 class="heading-group__sub-heading">
                    <span>{{ page.role }}</span>
                </h2>
                <h2 class="heading-group__producer">
                    <span><small>Published:&nbsp;{{ page.date | date: "%b %-d, %Y" }}</small></span>
                </h2>
                <hr class="heading-group__break">
            </header>


            <!--
                Article content
            -->
            <article class="article">
                <section itemprop="text">
                    {{ content | normalize_whitespace }}
                </section>
            </article>
        </section>

        <!--
            Outward path to all work
        -->
        <section class="outro">
                    
            <nav role="navigation" aria-label="Pagination Navigation">
                <ul class="pagination" data-current="{{paginator.page}}">
                    <li>
                        <a {% unless page.previous.url %}disabled{% endunless %} class="button {%- unless page.previous.url %} disabled{%- endunless -%}" rel="prev" href="{{ page.previous.url }}" title="{{- page.previous.title | strip_html | normalize_whitespace -}}.">&laquo; Previous</a>
                    </li>
                    &nbsp;
                    &nbsp;
                    <li>
                        <a {% unless page.next.url %}disabled{% endunless %} class="button {%- unless page.next.url %} disabled{%- endunless -%}" rel="next" href="{{ page.next.url }}" title="{{- page.next.title | strip_html | normalize_whitespace -}}.">Next &raquo;</a>
                    </li>
                </ul>
            </nav>
            
            <a href="{{ site.url }}/news/" class="button" itemprop="significantLink">see all news</a>            
        
        </section>


    </div>
</section>      