---
title: About
layout: page
menu: main
permalink: "/about/"
hero: false
img: false
loop: true
carousel: true
---

<section class="about-bio">

    <header class="heading-group">
        <h1 class="heading-group__heading">Talesmith</h1>
        <h2 class="heading-group__sub-heading">About us</h2>
        <hr class="heading-group__break">
    </header>

    <article class="article">
        <h1 class="article__heading">
          {{ site.data.content-about.heading.Big | newline_to_br }}
        </h1>
        <p>
          {{ site.data.content-about.heading.Small | newline_to_br }}
        </p>
    </article>

</section>

{% include /global/information_bar.html %}

<section class="talesmith-team" id="team">

    <header class="heading-group">
      <h1 class="heading-group__heading">Our team</h1>
      <h2 class="heading-group__sub-heading">A look behind the scenes</h2>
      <hr class="heading-group__break">
    </header>

    <ul class="members" aria-label="{{ site.title }} team members">
      {% include /global/team-listing.html %}
    </ul>

</section>
