---
layout: default
title: Talesmith
class: homepage
hero: false
muted: false
img: false
loop: true
carousel: true
default-start: playing
default-audio: audible
video-title: Showreel of Martin Williams
video-description: Martin Williams
---

{%
  include /front-page/intro.html
  bigHeading=site.data.page-content.heading.Big
  smallHeading=site.data.page-content.heading.Small
%}

{%
  include /front-page/teaser.html
  teaserURL=site.data.teaser.teaser.URL
  teaserIMG=site.data.teaser.teaser.IMG
  teaserTitle=site.data.teaser.teaser.Title
  teaserIntro=site.data.teaser.teaser.Intro
  teaserBGC=site.data.teaser.teaser.BGC
%}

{% include /front-page/feature-modules.html %}

{% include /front-page/outro.html %}
