<aside class="information-bar">

	<section class="information-bar__content">

		<div class="information-bar__content--default-left">
      <h1 class="information-bar__content__heading">
        Let’s tell your story
      </h1>
      <div class="site-footer__contact">
  			<p class="information-bar__content__sub-heading">
  				<b>Phone:</b>
  				<span>{{ site.data.business-information.contact.telephone }}</span>
  			</p>
  			<p class="information-bar__content__sub-heading">
  				<b>Email:</b>
  				<a href="mailto:{{ site.email }}" rel="email">{{ site.email }}</a>
  			</p>
      </div>
      <div class="site-footer__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{ site.data.business-information.address.streetAddress | newline_to_br }}<span><br>
        <span itemprop="addressLocality">{{ site.data.business-information.address.addressLocality }}</span><br>
        <span itemprop="addressRegion" class="site-footer__address--town">{{ site.data.business-information.address.addressRegion }}</span><br>
        <a href="https://goo.gl/maps/2DFSBSWGQ8P2" target="_blank" rel="noreferrer noopener" class="site-footer__address--postcode">
          <span itemprop="postalCode">{{ site.data.business-information.address.postalCode }}</span><br>
        </a>
        <span itemprop="addressCountry">{{ site.data.business-information.address.addressCountry }}</span>
      </div>
      <div class="discover">
        <ul class="discover-links">
  				<li class="discover-links__list-item">
  					<a href="{{ site.url }}/work/" class="button discover-links__list-item--button" itemprop="significantLink">Work</a>
  				</li>
  				<li class="discover-links__list-item">
  					<a href="{{ site.url }}/awards/" class="button discover-links__list-item--button" itemprop="significantLink">Awards</a>
  				</li>
  			</ul>
      </div>
		</div>

	</section>

</aside>
