{% for item in site.data.team.people %}
  <li class="members__member" itemscope itemtype="http://schema.org/Person">
    <figure>
      <a href="{{ item.firstname | downcase }}-{{ item.lastname | downcase }}/">
        <img class="members__member--picture" src="{{ item.image }}" alt="{{ item.firstname }} {{ item.lastname }}" title="{{ item.firstname }} {{ item.lastname }}" width="500" height="500">
      </a>
    </figure>
    <h2 class="members__member--name" itemprop="name">
      <a class="members__member--link" href="{{ item.firstname | downcase }}-{{ item.lastname | downcase }}/">
        <span class="firstname">{{ item.firstname }}</span>&nbsp;<span class="lastname">{{ item.lastname }}</span>
      </a>
    </h2>
    <p class="members__member--job-title" itemprop="jobTitle">
      {{ item.jobtitle }}
    </p>
    <hr>
    <a class="members__member--button-link" href="{{ item.firstname | downcase }}-{{ item.lastname | downcase }}/">
      View {{ item.firstname }}'s profile
    </a>
    <a class="members__member--button-link" href="mailto:{{ item.firstname | downcase }}.{{ item.lastname | downcase }}{{ site.email-obfuscated }}?subject=Website%20query" title="{{ item.firstname | downcase }}.{{ item.lastname | downcase }}{{ site.email-obfuscated }}">
      <span itemprop="email">{{ item.firstname | downcase }}.{{ item.lastname | downcase }}{{ site.email-obfuscated }}</span>
    </a>
    <p class="members__member--description" itemprop="description">
      {{ item.description  | truncate: 100 }}
    </p>
    <meta itemprop="worksFor" content="{{ site.title }}">
    <meta itemprop="gender" content="{{ item.gender }}">
  </li>
{% endfor %}
