<section class="image-row">
    <h1 class="image-row__heading">
        Behind the scenes
    </h1>
    <section class="owl-carousel">
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/nature/1/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/nature/2/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/nature/3/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/nature/4/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/nature/5/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/nature/6/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/nature/7/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="{{ site.url }}/{{ site.images }}/lads-lads-lads-BIG.jpg" title="">
                <img src="{{ site.url }}/{{ site.images }}/{{ page.title | downcase | slugify }}-carousel-2-S.jpg" alt="">
            </a>
        </div>
    </section>
</section>
<section class="image-row">
    <h1 class="image-row__heading margin">
        Animals
    </h1>
    <section class="owl-carousel">
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/animals/1/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/animals/2/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/animals/3/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/animals/4/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/animals/5/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/animals/6/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="http://placehold.it/1366x1024" title="">
                <img src="http://lorempixel.com/670/370/animals/7/" alt="">
            </a>
        </div>
        <div class="item">
            <a class="lightbox" href="{{ site.url }}/{{ site.images }}/lads-lads-lads-BIG.jpg" title="">
                <img src="{{ site.url }}/{{ site.images }}/{{ page.title | downcase | slugify }}-carousel-2-S.jpg" alt="">
            </a>
        </div>
    </section>
</section>