<header class="heading-group">
    <figure class="heading-group__image">
      <img src="{{ item.image }}" alt="{{ item.firstname }} {{ item.lastname }}" title="{{ item.firstname }} {{ item.lastname }}" width="500" height="500">
    </figure>
    <h1 class="heading-group__heading">{{ item.firstname }}&nbsp;{{ item.lastname }}</h1>
    <h2 class="heading-group__sub-heading">{{ item.jobtitle }}</h2>
    <hr class="heading-group__break">
    <ul class="profiles">
      <li class="email-address">
        {{ item.firstname | downcase }}.{{ item.lastname | downcase }}{{ site.email-obfuscated }}
      </li>
      {% if item.imdb-profile %}
      <li class="imdb-profile">
        <a href="{{ item.imdb-profile }}">
          IMDb
        </a>
      </li>
      {% endif %}
      {% if item.linkedin-profile %}
      <li class="linkedin-profile">
        <a href="{{ item.linkedin-profile }}">
          LinkedIn
        </a>
      </li>
      {% endif %}
    </ul>
</header>
<article class="article">
    <h1 class="article__heading">
      {{ item.description }}
    </h1>
    {{ content }}
</article>
