// About Page
//
// A majority of buttons in the site are built from the same base class.
//
// Styleguide Pages - About

.about-bio {

	@include max-width();
	text-align: center;

}

.about-bio {
	margin-bottom: 2em;
}

.article {
	@include column(12);
	&__heading {
		margin-top: 0;
		font: {
			family: inherit;
			weight: 300;
			size: 1.5em;
		}
	}
	.read-biography	{
		letter-spacing: 0.1em;
		text: {
			transform: uppercase;
			decoration: inherit;
		}
		font: {
			size: .875em;
			weight: 900;
		}
		margin: 0;
		display: inline-block;
		padding: 1em;
		color: $talesmith-grey;
		span {
			vertical-align: middle;
			i {
				font-style: normal;
			}
			b {
				font: {
					family: 'Lato', sans-serif;
					weight: 900;
				}
			}
		}
		&.expanded {
			i {
				color: $talesmith-orange;
			}
		}
	}
}

.article-flex {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-content: stretch;
	@include media(s) {
		flex-flow: row wrap;
	}	
	overflow: auto;
	clear: left;
	> .item {
    flex: 1;
		// text-align: center;
		position: relative;
		margin: 1rem;
		a[href] {
			transition: box-shadow .1s ease;
			color: $talesmith-grey;
			overflow: auto;
			display: block;
			padding: 1rem;
			text-decoration: none;
			box-shadow: #bbbaba 0px 4px 10px -5px;
			border: 1px solid #e0e0e0;
			header {
				h1 {
					margin-bottom: 0;
					font-size: 1.5rem;
				}
				time {				
				}
			}
			&:hover, &:focus {
				outline: none;
				box-shadow: $talesmith-orange 0px 4px 10px -2px;
			}			
		}
	}
}