// Single Work Page
//
// Styleguide Pages - Work - Single

.work-item {
  overflow: visible;
  // Grid
  @include media(s) {
  padding: 0;
  @include column(8);
  @include push(2);
  @include pull(2);
  }

  text-align: center;

}


.article {
  section {
    @include column(12);
    padding: 0 2em;
    text-align: left;
    h1:first-of-type {
      text-align: center;
    }
    > h1 {
      margin-top: 0;
      font: {
        family: inherit;
        weight: 300;
        size: 1.5em;
      }
      .internal-promo {
        position: relative;
        text-decoration: none;
        transition: all .15s ease;
        color: $talesmith-orange;
        @include media(s) {
          &:after {
            content: "Role: " attr(data-show-details) "\A0\A0\A0\27E9";
            transform: translateY(-90%) translateX(-50%) scale(.9);
            opacity: 0;
            transition: opacity .5s ease, transform .5s ease;
            min-width: 20em;
            position: absolute;
            transform-origin: center bottom;
            box-sizing: border-box;
            font-size: 0.7em;
            font-weight: 800;
            padding: 1em;
            text-align: center;
            left: 50%;
            background-color: darken($talesmith-orange,10%);
            outline: solid 1px white;
            outline-offset: -5px;
          }
          &:hover {
            color: $white;
            background-color: darken($talesmith-orange,10%);
            &:after {
              opacity: 1;
              transform: translateY(-98%) translateX(-50%) scale(1);
            }
          }
        }
      }
      a {
        color: $talesmith-orange;
      }
    }
    p {
      text-align: left;
      a {
        color: $talesmith-orange;
        text-decoration: none;
      }
    }
  }
}


.image-row {
  &__heading {
  text-align: center;
  margin: 0;
  font: {
  family: 'Libre Baskerville', serif;
  style: italic;
  weight: 300;
  size: 1.125em;
  }
  &.margin {
  margin: 2em;
  }
  }
  .owl-carousel {
  margin-top: 2em;
  }
  &:last-child {
  .owl-carousel {
  margin: 0;
  }
  }
}
