---
layout: team-member
team-member: Fiona McDonald
team-description: Fearless Fiona has more broadcast credits that you can shake a spreadsheet
  at.
---


<section class="about-bio">

{% for person in site.data.team %}
  {% if person.firstname == 'Fiona' %}

    {% include /team/bio.html %}

    <article class="article">
        <h1 class="article__heading">
          {{ person.description }}
        </h1>
        <p>
          Once dubbed ‘the safest pair of hands in television’, Fiona has dealt with the largest of dramas and the most ambitious of directorial requests. She is unflappable and fair yet assertive when she needs to be, a perfect addition to the Talesmith family.
        </p>
    </article>

  {% endif %}
{% endfor %}

</section>