---
layout: team-member
team-member: Gaby Bastyra
team-description: Gaby joined Talesmith in June 2017 as Head of Development after
  7 years at Passion Planet producing and running development.
---


<section class="about-bio">

{% for person in site.data.team %}
  {% if person.firstname == 'Gaby' %}

    {% include /team/bio.html %}

    <article class="article">
        <h1 class="article__heading">
          {{ person.description }}
        </h1>
        <p>
          Natural History film-making runs in her veins. She has produced several BBC Natural Worlds including My Life as a Turkey, The Unnatural History of London and blue chip series Earth A New Wild for National Geographic and PBS. She started her career as winner of Best Newcomer Award at Wildscreen and has gone on to win several Wildscreen and Jackson Hole awards including Best Series &amp; the Golden Panda.
        </p>
        <p>
          She’s already clogged Talesmith’s systems with mind bendingly good ideas and we can’t wait to turn them into fully fledged productions!
        </p>
    </article>

  {% endif %}
{% endfor %}

</section>